management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
      base-path: /actuator

  endpoint:
    health:
      show-details: always

  prometheus:
    metrics:
      export:
        enabled: true

  metrics:
    tags:
      application: monitoring

    enable:
      jvm: true
      hikaricp: true

    distribution:
      percentiles-histogram:
        http.server.requests: true

spring:
  application:
    name: ocean-date-backend

  profiles:
    include: secret

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${JDBC_URL}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
  mail:
    port: 587
    host: smtp.gmail.com
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

  notification:
    dispatch:
      fixedDelayMs: 60000

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-authentication-method: client_secret_post
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            client-name: Kakao
            scope:
            - profile_nickname
            - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.boot.autoconfigure.security: DEBUG

cookie:
  domain: localhost
  max-age: 604800
  path: /
  http-only: true
  secure-mode: false

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

toss:
  payments:
    secret-key: ${TOSS_SECRET_KEY}
    base-url: https://api.tosspayments.com/v1/payments