spring:
  application:
    name: backend

  profiles:
    include: secret

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/oceandate?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

toss:
  payments:
    secret-key: ${TOSS_SECRET_KEY}
    base-url: https://api.tosspayments.com/v1/payments